@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,#fff,#fff,#fff, #00BF75,#fff,#fff,#fff);
}
/*header*/
#contnav{
    height: 200px;
    background: linear-gradient(#262626, #141e44,#262626);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.boxicon{
    display: flex;
    color:white;
    align-items: center;
}

h4{
    padding-left: 10px;
    padding-right: 20px;
    font-weight: bold; 
}
.boxmenu{
    display: flex;
}
.boxmenu a{
    color: azure;
    padding:15px;
}

.boxmenu a:hover{
    color: yellowgreen;
    font-weight:bold;
}


.boxlogo img{
    margin-left: auto;
    font-size: larger;
}
/*formulario*/
main{
    padding-top: 20px;
    height: 520px;
    
}

section{
    display: flex;
}

#ladoizq{
    padding: 20px;
    color: #000;
    height: 480px;
    width: 50%;
    background: linear-gradient(180deg,#fff,#D9D9D9,#c2c1c1,#D9D9D9,#fff);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#ladoder{
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.grupo1{
    margin-top: 8%;
    margin-left: 2%;
    position: absolute;
    display: flex;
    width: 120px;
}
.grupo1:hover{
    transform: translateX(40px);
    transition: transform 1s ease-out;
}

.grupo2:hover{
    transform: translateX(40px);
    transition: transform 1s ease-out;
}

.grupo3:hover{
    transform: translateX(40px);
    transition: transform 1s ease-out;
}




.grupo2{
    margin-top: 12%;
    position: absolute;
    display: flex;
    width: 180px;
}

.grupo3{
    margin-top: 16%;
    margin-left: 6%;
    position: absolute;
    display: flex;
    width: 200px;
}

.grupo4{
    padding: 20px;
    color: #000;
    font-weight: bolder;
    margin-top: 20%;
    position: absolute;
    display: flex;
    width: 600px;
}

.ovalos{
    font-size: x-large;
    text-align: center;
    color:yellow;
    font-weight: bold;
    background-color: #8497B0;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-control{
    background-color: #3b383840;
    border: none;
}

form{
    margin: 10px;
}
input{
    width: 500px;
    margin: 10px;
}

select{
    width: 500px;
    margin: 10px;
}

#button{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    width: 150px;
    color: yellow;
    height: 40px;
    background-color:#141e44;
    border-radius: 15px;

}

#breset{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    width: 150px;
    color: yellow;
    height: 40px;
    background-color:#141e44;
    border-radius: 15px;
}







/*footer*/
#contfooter{
    height: 200px;
    background: linear-gradient(#262626, #141e44,#262626);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}
#contfooter h4{
    text-align: center;
    color: blanchedalmond;
}

footer{
    text-align: center;
    color: white;
}

.boxcontac{
    width: 33.3333%;
}

.boxredes{
    width: 33.3333%;
}

.fa-brands{
    padding: 10px;
}

.boxmapa{
    width: 33.3333%;
}

.fa-solid{
    padding-bottom: 10px;
}