
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,#fff,#fff, #d9dada,#fff,#fff);
}

/*header*/
#contnav{
    height: 200px;
    background: linear-gradient(#262626, #141e44,#262626);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.boxicon{
    display: flex;
    color:white;
    align-items: center;
}

.boxmenu{
    display: flex;
}
.boxmenu a{
    color: azure;
    padding:15px;
}

.boxmenu a:hover{
    color: yellowgreen;
    font-weight:bold;
}


.boxlogo img{
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

/*titulo seccion*/

.subtitulo{
    text-align: center;
    margin: 20px;
    
}

h1{
    padding-left: 10px;
    padding-right: 20px;
    font-weight: bold;
}

/*estilos seccion 1*/

.pack1{
    margin: 20px;
    display: flex;
    color: aliceblue; 
}


.sec1{
    height: 350px;
    width: 250px;
    padding: 15px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    margin: 10px;
}


#diurna{
    background-color: #00BF75;
    align-items: center;
}

#nocturna{
    background-color: #373838;
    align-items: center;
}

#emergencia{
    background-color: #6f7070;
    align-items: center;
}

.burbuja{
    color: #262626;
    background-color: #fff;
    width: 200px;
    height: 220px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    text-align: center;
    padding-block: 40px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 2px 2px 6px #373838;

}

/*estilos seccion 2*/

.pack2{
    float: right;
    display: flex;
    color: aliceblue;
    text-align: right;
    margin-right: 175px;
}

.sec2{
    height: 350px;
    width: 250px;
    padding: 15px;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    margin: 10px;
}

#entrena{
    background-color: #373838;
    align-items: center;
}

#transporte{
    background-color: #6f7070;
    align-items: center;
}

#camaras{
    background-color: #00BF75;
    align-items: center;
}

.burbuja2{
    color: #262626;
    background-color: #fff;
    width: 200px;
    height: 220px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    text-align: center;
    padding-block: 40px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 2px 2px 6px #373838;

}



/*footer*/
#contfooter{
    height: 200px;
    background: linear-gradient(#262626, #141e44,#262626);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}
#contfooter h4{
    text-align: center;
    color: blanchedalmond;
}

footer{
    text-align: center;
    color: white;
}

.boxcontac{
    width: 33.3333%;
}

.boxredes{
    width: 33.3333%;
}

.fa-brands{
    padding: 10px;
}

.boxmapa{
    width: 33.3333%;
}

.fa-solid{
    padding-bottom: 10px;
}


