@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

/*-----------------------------------GLOBAL-----------------------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#D9D9D9, white);
}

h1 {
    text-align: center;
    padding: 30px;
    background: unset;
    font-weight: bold;
}


/*-----------------------------------------------------------------CUERPO-----------------------------------------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: grid;
    place-items: center;
}


/*-----------------------------------------------------------HEADER-------------------------------------------------------------------------*/
/*header*/
#contnav {
    height: 200px;
    background: linear-gradient(#262626, #141e44, #262626);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    border: 3px solid yellowgreen;
}

.boxicon {
    display: flex;
    color: white;
    align-items: center;
}

h4 {
    padding-left: 10px;
    padding-right: 20px;
    font-weight: bold;
}

.boxmenu {
    display: flex;
}

.boxmenu a {
    color: azure;
    padding: 15px;
}

.boxmenu a:hover {
    color: yellowgreen;
    font-weight: bold;
}

.boxlogo img {
    margin-left: 40px;
    margin-right: auto;
    font-size: larger;
    width: 90%;
}

/*-----------------AGENDAR CITA-------------------*/
.agendatucita {
    border: unset;
    display: flex;
    font-size: small;
    height: 50px;
    padding: 10px;
    align-items: center;
    position: absolute;
    left: 24%;
    top: 16%;
    border-radius: 16px;
    background: white;
    width: 350px;
    box-shadow: -3px 2px 4px #262626;
    z-index: 1;
}

.agendatucita button {
    right: 5%;
    background: #00BF75;
    padding: 8px 16px;
    border: unset;
    border-radius: 8px;
    color: white;
    top: 15%;
    position: absolute;
}

.agendatucita button:hover {
    background: #009159
}

.agendatucita h3 {
    font-size: medium;
    background-color: unset;
    position: absolute;
    top: 30%;
    left: 6%;
}

/*--------------------------------------------------------------------MAIN-----------------------------------------------------------------*/
/*-----------------CATEGORÍAS--------------------*/
.categorias {
    text-align: center;
    display: flex;
    padding: 15px;
    width: auto;
}

.categoria {
    display: grid;
    place-items: center;
    margin: 10px;
    padding: auto;
    border-radius: 50%;
    position: relative;
}

.categorias a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: auto;
}

.categoria p {
    background: unset;
}

.categoria img {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
}


/*----------------------------------------------------------------------PRODUCTOS--------------------------------------------------------------*/
/*-------------------------BARRA DE FILTRO-----------------------*/
.tienda {
    width: 1000px;
}

.busqueda {
    display: inline-flex;
    align-items: center;
}

.busqueda h3 {
    position: absolute;
}


/*-------------------------SELECTS (FILTROS)-----------------------*/
.filtros {
    display: flex;
    float: right;
    margin-left: 350px;
    height: 80px;
    padding: 15px
}

.filtros button {
    margin: 10px 0 0 70px;
    padding: 6px;
    border-radius: 7px;
    border: unset;
    background: #00BF75;
    color: white;
    font-size: small;
    height: 40px;
    width: 100px;
}

.opcion {
    background: #bec5d4;
    border-radius: 8px;
    border: unset;
}

/*-------------------------TÍTULO DEL FILTRO-----------------------*/
.tienda h2 {
    text-align: left;
    font-weight: bold;
}


/*----------------------------------------------------------------------ALLPRODUCTS--------------------------------------------------------------*/
/*-------------------------PRODUCTOS-----------------------*/
.productos {
    padding: 15px;
}

.productos h2 {
    text-align: center;
}

#allproducts {
    display: flex;
}

.producto {
    margin: 10px 15px;
    text-align: center;
    padding: 5px;
}

.producto h4,
h5 {
    font-weight: bold;
}

.producto img {
    width: 110px;
    padding: 10px;
}



/*----------------------------------------------------------------------FOOTER--------------------------------------------------------------*/
/*footer*/
#contfooter {
    height: 200px;
    background: linear-gradient(#262626, #141e44, #262626);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    border: 3px solid yellowgreen;
    text-align: center;
    color: blanchedalmond;
    display: flex;
}

#contfooter h4 {
    color: blanchedalmond;
    text-align: center;
}

.boxcontac,
.boxcontac h4,
.boxcontac i,
.boxcontac a {
    width: auto;
    text-decoration: none;
    padding: 0;
}


.boxredes,
.boxredes h4,
.boxredes i {
    width: auto;
    padding: 0;
}

.boxredes i {
    margin-left: 12px;
    margin-top: 30px;
}

.boxmapa,
.boxmapa h4,
.boxmapa i,
.boxmapa a {
    width: auto;
    text-decoration: none;
    padding: 0;
}

.boxcontac,
.boxredes,
.boxmapa {
    width: 415px;
}

#creadopor {
    position: absolute;
    bottom: -54%;
    right: 39%;
    color: blanchedalmond;
}